<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEVUP Homepage</title>
    <!-- Testing in Live Server, href, css, images, fonts, js paths must be edited -->
    <link rel="stylesheet" href="/css/index.css" />
    <script type="module" src="/js/index.js"></script>
  </head>
  <body>
    <div class="header bs">
      <a href="/"
        ><img class="logo" src="/images/DevUp Logo.png" alt="DEVUP"
      /></a>
      <div class="text-set ts">
        <span>Feed</span>
        <span>Stats</span>
        <span>Admin</span>
        <span>Public Chat</span>
      </div>
      <div class="search">
        <span class="search-icon">🔍</span>
        <input type="text" class="search-bar bs" placeholder="Search..." />
      </div>
      <div class="buttons">
        <button class="signup bs">Sign Up</button>
        <button class="signin bs">Sign In</button>
      </div>
    </div>
    <div class="container">
      <div class="contents">
        <section>
          <span class="content-title">Title</span>
          <div class="content-user">
            <div class="content-user-pfp">user-pfp</div>
            <span class="content-username">username</span>
          </div>
          <div class="content-body">
            <span class="body-text"
              >This is a sample text, which is a content body.</span
            >
          </div>
          <div class="icon-set">
            <div class="views-icon">views</div>
            <div class="likes-icon">likes</div>
            <div class="comments-icon">comments</div>
          </div>
        </section>
      </div>
      <div class="user bs">
        <div class="user-info">
          <img class="user-pfp" src="/images/github logo.png" alt="" />
          <span class="username ts">Welcome, Eunjae Lee</span>
        </div>
        <div class="user-buttons">
          <button class="post bs">Post</button>
          <button class="chat bs">Chat</button>
          <button class="profile bs">Profile</button>
        </div>
        <div id="chatroom" class="chatroom">
          <div class="chat-content"></div>
          <div class="chat-content"></div>
          <div class="chat-content"></div>
          <input type="text" class="chat-input" />
        </div>
      </div>
    </div>
  </body>
</html>
