<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEVUP Homepage</title>
    <link rel="icon" href="/images/DevUp Logo.png" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css"
    />
    <link rel="stylesheet" href="/css/board/prism.css" />
    <link rel="stylesheet" href="/css/board/index.prism.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>

    <script defer src="/js/lib/posts.js"></script>
    <script>
      const PROTOCOL = "{{backServer.PROTOCOL}}"
      const BACKEND_SERVER_IP = "{{backServer.BACKEND_SERVER_IP}}"
      const BACKEND_SERVER_PORT = {{backServer.BACKEND_SERVER_PORT}}
    </script>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script defer src="/js/visitors/client.js"></script>
    <script type="module" src="/js/index.js"></script>
  </head>
  <body>
    <div class="header bs">
      <a href="/"
        ><img class="logo" src="/images/DevUp Logo.png" alt="DEVUP"
      /></a>
      <div class="text-set ts">
        <a href="/chat"><span>PUBLIC CHAT</span></a>
      </div>
      <div class="search">
        <span class="search-icon">🔍</span>
        <input
          spellcheck="false"
          type="text"
          class="search-bar bs"
          placeholder="Search..."
          id="search"
        />
      </div>
      {% if user %}
      <div class="buttons">
        <a href="/admin">
          <button class="admin bs">Admin</button>
        </a>
        <a href="/users/logout">
          <button onclick="localStorage.clear()" class="logout bs">
            Logout
          </button>
        </a>
      </div>
      {% else %}
      <div class="buttons">
        <a href="/users">
          <button class="signup bs">Sign Up</button>
        </a>
        <a href="/users/login">
          <button class="signin bs">Sign In</button>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="container">
      <div id="contents" class="contents"></div>
      {% if user %}
      <div class="user bs">
        <div class="user-info">
          <img class="user-pfp" src="{{user.Users_profile}}" alt="" />
          <span class="username ts">Welcome, {{user.Users_name}}</span>
        </div>
        <div class="user-buttons">
          <button class="post bs">Post</button>
          <button class="visitors-button bs">Visitors</button>
          <a href="/users/profile">
            <button class="profile bs">Profile</button>
          </a>
        </div>

        <div id="visitors" class="visitors">
          <div class="visitors-contents" id="visitors-contents">
          </div>
        </div>


      </div>
      {% else %}
      <div class="user bs">
        <div class="user-info">
          <img class="user-pfp" src="/images/github%20logo.png" alt="" />
          <span class="username ts">Please sign in...</span>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
  <script src="/js/lib/messageCheck.js"></script>
  <script src="/js/lib/tokenCheck.js"></script>
</html>
