* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  caret-color: transparent;
  border-radius: 20px;
}

@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #374151;
  font-family: 'Inria Sans';
}

.bs {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ts {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  width: 100%;
  height: 65px;
  background: #171d25;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo {
  padding-top: 5px;
  width: 64px;
  height: 65px;
}

.text-set {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
}

.text-set span {
  color: #eee;
  font-size: 18px;
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 4px;
  left: 5px;
}

.search-bar {
  min-width: 300px;
  height: 30px;
  padding-left: 30px;
  background-color: #374151;
  /* border-radius: 20px; */
}

.search-logo {
  width: 17px;
  height: 18px;
}

input[type='text']:focus,
input[type='text']::placeholder,
input[type='password']:focus,
input[type='password']::placeholder,
input[type='email']:focus,
input[type='email']::placeholder {
  color: #171d25;
  opacity: 0.75;
}

.buttons {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 90px;
  height: 30px;
  border: none;
  border-radius: 20px;
  color: #eee;
}

.signup {
  background: #8d8acf;
}

.signin {
  background: #8ab3cf;
}

.container {
  min-width: 1210px;
  max-width: 1280px;
  min-height: 100vh - 100px;
  height: auto;
  background-color: inherit;
  margin: 0px auto;
  padding-top: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.contents {
  width: 870px;
  height: auto;
  /* background: #999; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 50px;
}

.contents > section {
  width: 800px;
  height: 200px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #eee;
}

.user {
  position: sticky;
  top: 70px;
  width: 300px;
  min-height: 100px;
  height: 200px;
  background: linear-gradient(rgba(23, 29, 37, 0.35), #374151);
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  /* row-gap: 30px; */
  justify-content: space-around;
}

.user-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.user-pfp {
  width: 90px;
  height: 90px;
}

.username {
  color: #eee;
}

.user-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.user-buttons button {
  width: 80px;
  height: 40px;
  background: #374151;
  color: #eee;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
}

.chatroom {
  display: none; /* Hide by default, toggle to flex */
  flex-flow: column nowrap;
  justify-content: space-around;
  position: absolute;
  top: 100%; /* Position directly below the user box */
  left: 0;
  min-width: 300px; /* Or however wide you want it */
  height: 50vh;
  background: linear-gradient(rgba(23, 29, 37, 0.35), #374151);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 2; /* Ensure it's above other content */
  margin-top: 30px;
}

.chat-content {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background: beige;
}

.chat-input {
  width: 75%;
  align-self: center;
  justify-self: flex-end;
}
