.main {
  margin: auto;
  position: fixed;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, 25%);
  border-radius: 30px;
  width: 845px;
  height: 580px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 14px 74px;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 50px;
  color: rgba(255, 255, 255, 80%);
}

.profile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  gap: 62px;
}

.profile {
  width: 47%;
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.profile-image {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.profile-name {
  display: flex;
  flex-direction: column;
  gap: 38px;
  font-size: 24px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > input {
  width: 326px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  background: none;
  border-radius: 0 !important;
  border-bottom: 0.2px solid rgba(255, 255, 255, 50%);
  color: rgba(255, 255, 255, 50%);
}

.form > input:focus {
  background: rgba(0, 0, 0, 25%);
  color: white;
}

.form > input::placeholder {
  color: rgba(255, 255, 255, 50%);
}

.form > button {
  margin-top: 42px;
  width: 110px;
  height: 41.33px;
  border: none;
  align-self: end;
  font-size: 25px;
}

.friends {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.friends-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.friends-buttons > button {
  width: 100px;
  height: 30px;
  border: none;
}

.friends-view {
  width: 313px;
  height: 360px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

button {
  background-color: #8d8acf;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

#profile-input {
  position: absolute;
  visibility: hidden;
}

label {
  background-color: #8d8acf;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  white-space: nowrap;
  padding: 8px;
  cursor: pointer;
}

/* 웹키트 기반 브라우저에서 스크롤 바 숨기기 */
::-webkit-scrollbar {
  display: none; /* 스크롤 바를 완전히 숨김 */
}

/* Firefox에서 스크롤 바 숨기기 */
html {
  scrollbar-width: none; /* 스크롤 바를 완전히 숨김 */
}
