<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Create</title>
    <link rel="icon" href="/images/DevUp Logo.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/board/editor.styles.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/board/create.css" />
    <script>
      const PROTOCOL = '{{backServer.PROTOCOL}}';
      const BACKEND_SERVER_IP = '{{backServer.BACKEND_SERVER_IP}}';
      const BACKEND_SERVER_PORT = {{backServer.BACKEND_SERVER_PORT}}
    </script>
    <script src="/js/board/create.js"></script>
  </head>
  <body
    data-editor="ClassicEditor"
    data-collaboration="false"
    data-revision-history="false"
  >
    <header>
      <div class="header bs">
        <a href="/"
          ><img class="logo" src="/images/DevUp Logo.png" alt="DEVUP"
        /></a>
        <div class="text-set ts">

          <a href="/chat"><span>PUBLIC CHAT</span></a>

        </div>
        <div class="search">
          <span class="search-icon">🔍</span>
          <input
            spellcheck="false"
            type="text"
            class="search-bar bs"
            placeholder="Search..."
            id="search"
            readonly
          />
        </div>
        {% if user %}
        <div class="buttons">
          <a href="/admin">
            <button class="admin bs">Admin</button>
          </a>
          <a href="/users/logout">
            <button onclick="localStorage.clear()" class="logout bs">
              Logout
            </button>
          </a>
        </div>
        {% else %}
        <div class="buttons">
          <a href="/users">
            <button class="signup bs">Sign Up</button>
          </a>
          <a href="/users/login">
            <button class="signin bs">Sign In</button>
          </a>
        </div>
        {% endif %}
      </div>
    </header>
    <div class="container">
      <div class="post-wrapper">
        <input
          type="text"
          name="postTitle"
          placeholder="Write a title..."
          class="postTitle"
          required
        />
        <div class="editor-container">
          <textarea
            name="postContent"
            placeholder="Boast your writing skills"
            class="editor"
          ></textarea>
        </div>
        <div class="button-container">
          <button class="list-button">Back to List</button>
          <button class="publish-button">Publish</button>
        </div>
      </div>
    </div>
    <script src="/js/board/ckeditor.js"></script>
    <script src="/js/board/editor.script.js"></script>
  </body>
</html>
