<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modify</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form>
      <p>title :</p>
      <input type="text" name="postTitle" required />
      <p>content :</p>
      <textarea name="postContent"></textarea>
      <button type="submit">저장</button>
    </form>
    <a href="/">❌</a>
    <script>
      document.querySelector('form').addEventListener('submit', async e => {
        e.preventDefault();
        const body = {
          postTitle: e.target.postTitle.value,
          postContent: e.target.postContent.value,
        };
        const {data: response} = await axios.put(
          'https://api-devup.hyunjun.kr/posts/{{id}}',
          // 'http://localhost:4000/posts/{{id}}',
          body,
          {
            withCredentials: true,
          },
        );

        location.href = `/api-devup.hyunjun.kr/posts/${response.postUid}`;
      });
    </script>
  </body>
</html>
