<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>{{ post.postTitle }}</h1>
    <p>{{post.postWriter}}</p>
    <p>{{ post.postContent }}</p>
    <p>조회수: {{ post.postHit }}</p>
    <a href="/modify/{{ post.postUid }}">수정</a>
    <form id="delete">
      <button type="submit">삭제</button>
    </form>
    <a href="/">❌</a>
    <form>
      <button type="submit">❤️</button>
      <p>{{post.postLike}}</p>
    </form>
    <script>
      document.querySelector('#delete').addEventListener('submit', async e => {
        e.preventDefault();
        const {data: response} = await axios.delete(
          'http://localhost:4000/posts/{{post.postUid}}',
          {
            withCredentials: true,
          },
        );
        location.href = `/`;
      });
    </script>
  </body>
</html>
