<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/board/view.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css"
    />
    <link rel="stylesheet" href="/css/board/prism.css" />
    <!-- <link rel="stylesheet" href="/css/board/view-ckeditor.css" /> -->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>

    <script>
      const PROTOCOL = "{{backServer.PROTOCOL}}"
      const BACKEND_SERVER_IP = "{{backServer.BACKEND_SERVER_IP}}"
      const BACKEND_SERVER_PORT = {{backServer.BACKEND_SERVER_PORT}}
    </script>
    <script src="/js/board/view.js"></script>
    <script defer src="/js/board/comment.js"></script>
  </head>
  <body>
    <div class="header bs">
      <a href="/"
        ><img class="logo" src="/images/DevUp Logo.png" alt="DEVUP"
      /></a>
      <div class="text-set ts">
        <span>Public Chat</span>
        <span>Stats</span>
        <a href="/admin"><span>Admin</span></a>
      </div>
      <div class="search">
        <span class="search-icon">🔍</span>
        <input
          spellcheck="false"
          type="text"
          class="search-bar bs"
          placeholder="Search..."
          id="search"
        />
      </div>
      {% if user %}
      <div class="buttons">
        <a href="/users/logout">
          <button class="logout bs">Logout</button>
        </a>
      </div>
      {% else %}
      <div class="buttons">
        <a href="/users">
          <button class="signup bs">Sign Up</button>
        </a>
        <a href="/users/login">
          <button class="signin bs">Sign In</button>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="container">
      <div id="contents" class="contents">
        <div class="post-wrapper">

          <div class="post-title"><h1>{{ post.postTitle }}</h1></div>

          <div>
            <div class="post-header">
              <img class="content-user-pfp" src="{{post.userProfile}}" />
              <div>{{ post.postWriter}}</div>
              <div class="post-created-at">{{post.postCreatedAt}}</div>
              <img class="post-hit-icon" src="/images/Hit Icon.svg" />
              <div class="post-hit">{{post.postHit}}</div>
            </div>

            <div class="post-content" id="post-content">
              {{ post.postContent | safe }}
            </div>
          </div>
          <div class="button-box">
            {% if canEdit %}
            <button class="modify-button" data-postid="{{ post.postUid }}">
              Edit
            </button>
            <button class="delete-button">Delete</button>
            {% endif %}
            <a href="/">Back to List</a>
            <button id="like-button">❤️</button>
            <p id="likeCount">{{post.postLike}}</p>
          </div>
        </div>

        <div class="comment-wrapper">
          <form id="form-comment">
            <input type="text" name="comment" class="comment-input" />
            <button type="submit" class="comment-submit">Post</button>
          </form>
          <div class="comment-box" id="comment-box"></div>
        </div>
      </div>

      <div class="user bs">
        <div class="user-info">
          <img class="user-pfp" src="{{user.Users_profile}}" alt="" />
          <span class="username ts">Welcome, {{user.Users_name}}</span>
        </div>
        <div class="user-buttons">
          <button class="post bs">Post</button>
          <button class="chat bs">Chat</button>

          <a href="/users/profile">
            <button class="profile bs">Profile</button>
          </a>
        </div>
        <div id="chatroom" class="chatroom">
          <div class="chat-content"></div>
          <div class="chat-content"></div>
          <div class="chat-content"></div>
          <input type="text" class="chat-input" />
        </div>
      </div>

      <div class="modal">
        <div class="modal-header">
          <input
            type="text"
            name="postTitle"
            placeholder="Write a title..."
            class="postTitle"
            value="{{ post.postTitle }}"
          />
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const postContent = '{{post.postContent | safe}}';
        document.querySelector('#post-content').innerHTML = postContent;
      });

      document.addEventListener('DOMContentLoaded', function () {
        Prism.highlightAll();
      });
    </script>
  </body>
</html>
