<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DEVUP Homepage</title>
    <link rel="icon" href="/images/DevUp Logo.png" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/user/login.css" />
  </head>
  <body>
    <div class="header bs">
      <a href="/"
        ><img class="logo" src="/images/DevUp Logo.png" alt="DEVUP"
      /></a>
      <div class="text-set ts">
        <a href="/chat"><span>PUBLIC CHAT</span></a>
      </div>
      <div class="search">
        <span class="search-icon">🔍</span>
        <input
          spellcheck="false"
          type="text"
          class="search-bar bs"
          placeholder="Search..."
          id="search"
        />
      </div>
      {% if user %}
      <div class="buttons">
        <a href="/admin">
          <button class="admin bs">Admin</button>
        </a>
        <a href="/users/logout">
          <button onclick="localStorage.clear()" class="logout bs">
            Logout
          </button>
        </a>
      </div>
      {% else %}
      <div class="buttons">
        <a href="/users">
          <button class="signup bs">Sign Up</button>
        </a>
        <a href="/users/login">
          <button class="signin bs">Sign In</button>
        </a>
      </div>
      {% endif %}
    </div>

    <div class="main">
      <form
        method="post"
        action="{{backServer.PROTOCOL}}://{{backServer.BACKEND_SERVER_IP}}:{{backServer.BACKEND_SERVER_PORT}}/users/login"
      >
        <h2>Sign In</h2>
        <input spellcheck="false" type="text" name="userId" placeholder="ID" />
        <input
          spellcheck="false"
          type="password"
          name="userPassword"
          placeholder="Password"
        />
        <button spellcheck="false" type="submit">Sign In</button>
      </form>

      <div class="social-login">
        <a href="/users/kakao"
          ><img class="kakao" src="/images/login_assets/Kakao/kakao.png"
        /></a>
        <a href="/users/google"
          ><img
            class="google"
            src="/images/login_assets/Google/dark/web_dark_sq_na@2x.png"
        /></a>
        <a href="/users/github"
          ><img
            class="github"
            src="/images/login_assets/Github/github-mark/github-mark-white.png"
        /></a>
        <a href="/users/naver"
          ><img
            class="naver"
            src="/images/login_assets/Naver/btnG_icon_square.png"
        /></a>
      </div>
    </div>
  </body>

  <script src="/js/user/login.js"></script>
</html>
