<!doctype html>
<html lang="en">
  <head>
    <script>
      const PROTOCOL = "{{backServer.PROTOCOL}}"
      const BACKEND_SERVER_IP = "{{backServer.BACKEND_SERVER_IP}}"
      const BACKEND_SERVER_PORT = {{backServer.BACKEND_SERVER_PORT}}
    </script>
    <meta charset="UTF-8" />
    <title>DEVUP Homepage</title>
    <link rel="icon" href="/images/DevUp Logo.png" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/chat/chat.css" />
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script defer src="/js/chat/client.js"></script>
    <script defer src="/js/visitors/client.js"></script>
  </head>
  <body>
    <div class="header bs">
      <a href="/"
        ><img class="logo" src="/images/DevUp Logo.png" alt="DEVUP"
      /></a>
      <div class="text-set ts">
        <a href="/chat"><span>PUBLIC CHAT</span></a>
      </div>
      <div class="search">
        <span class="search-icon">🔍</span>
        <input
          spellcheck="false"
          type="text"
          class="search-bar bs"
          placeholder="Search..."
          id="search"
        />

      </div>
      {% if user %}
      <div class="buttons">
        <a href="/admin">
          <button class="admin bs">Admin</button>
        </a>
        <a href="/users/logout">
          <button onclick="localStorage.clear()" class="logout bs">
            Logout
          </button>
        </a>
      </div>
      {% else %}
      <div class="buttons">
        <a href="/users">
          <button class="signup bs">Sign Up</button>
        </a>
        <a href="/users/login">
          <button class="signin bs">Sign In</button>
        </a>
      </div>
      {% endif %}
    </div>


    <div class="chat-wrapper">
    <div class="public-chat">
      <div class="chat-header">
        <a href="/chat"><span>Public Chat</span></a>
      </div>

      <div class="chat-body">
        <div id="messages" class="messages">
          <!-- <div class="message-area">
            <div class="message-user">
              <img class="msg-pfp">IMG</img>
              <span class="msg-username">Username</span>
              <div class="message-date"><span>2023.11.11 11:00</span></div>
            </div>

            <div class="message">
              <span
                >text msgtext msgtext msgtext msgtext msgtext msgtext msgtext
                msgtext msg</span
              >
            </div>
          </div> -->
        </div>
      </div>

      <div class="chat-footer">
        <form class="chat-form" method="#">
          <input class="chat-input bs" type="text" />
          <button class="chat-sendbutton bs">Send</button>
        </form>
      </div>
    </div>

    <div id="visitors" class="visitors">
      <div class="visitors-contents" id="visitors-contents">
      </div>
    </div>

    </div>

  </body>
</html>
