.container {
  width: 1200px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 40px;
  width: 70%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10%;
  left: 15%;
  border-radius: 20px;
}


.button-container {
  margin-top: 40px;
  display: flex;
  padding: 0 25px;
  flex-direction: row;
  justify-content: space-between;
}

input.postTitle {
  width: 1200px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  background: #374151;
  padding: 5px 15px 5px 10px;
  color: #ffffff;
}

.ck-editor__editable_inline {
  min-height: 300px;
  width: 435px;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0 0 20px 20px !important;
}

.ck-editor .ck-editor__main .ck-content {
  background-color: #374151 !important;
  border: none !important;

  color: #ffffff;
}

.ck.ck-toolbar {
  background-color: #374151 !important;
  color: white !important;
  border: none !important;
  border-radius: 20px 20px 0 0 !important;
}

.ck.ck-button {
  color: white !important;
}

.ck.ck-button:hover,
.ck.ck-button.ck-on {
  color: #29313d !important;
}

.ck-button:hover {
  background-color: transparent !important;
  color: inherit !important;
}

textarea {
  resize: none;
  outline: none;
  width: 450px;
  height: 345px;
  border: none;
  border-radius: 20px;
  background: #374151;
  padding: 10px;
  color: #eee;
  display: none;
}
