.ck-editor__editable_inline {
  min-height: 300px;
  width: 435px;
  border-top: 2px solid #3779eb !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0 0 20px 20px !important;
}

.ck-content {
  background-color: #374151 !important;
  color: white !important;
}

.ck.ck-toolbar {
  background-color: #374151 !important;
  color: white !important;
  border: none !important;
  border-radius: 20px 20px 0 0 !important;
}

.ck.ck-button {
  color: white !important;
}

.ck.ck-editor__bottom .ck.ck-credits .ck.ck-credits:focus {
  display: none !important;
}
