.ck-editor__editable_inline {
  min-height: 300px; /* 높이 설정 */
  width: 435px; /* 너비 설정 */
  border-top: 2px solid #3779eb !important; /* 상단 테두리 설정 */
  border-left: none !important; /* 왼쪽 테두리 없음 */
  border-right: none !important; /* 오른쪽 테두리 없음 */
  border-bottom: none !important; /* 하단 테두리 없음 */
}

.ck-content {
  background-color: #374151 !important;
  color: white !important;
}

/* 툴바의 배경색 변경 */
.ck.ck-toolbar {
  background-color: #374151 !important; /* 원하는 배경색으로 설정 */
  color: white !important; /* 글자색 설정 */
  border: none !important;
}

/* 툴바 버튼 스타일 변경 */
.ck.ck-button {
  color: white !important; /* 버튼의 글자색 */
}

/* CKEditor 브랜딩 숨기기 */
.ck.ck-editor__bottom .ck.ck-credits .ck.ck-credits:focus {
  display: none !important;
}
