.container {
  width: 1200px;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 40px;
  width: 70%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10%;
  left: 15%;
  border-radius: 30px;
}

.button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input.postTitle {
  width: 600px;
  height: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  background: #374151;
  padding: 5px 15px 5px 10px;
  color: #ffffff;
}

textarea {
  resize: none;
  outline: none;
  width: 450px;
  height: 345px;
  border: none;
  border-radius: 20px;
  background: #374151;
  padding: 10px;
  color: #eee;
  display: none;
}

.ck-editor__editable_inline {
  min-height: 300px;
  width: 435px;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-radius: 0 0 20px 20px !important;
}

.ck-editor .ck-editor__main .ck-content {
  background-color: #374151 !important;
  border: none !important;

  color: #ffffff;
}

.ck.ck-toolbar__items {
  background-color: #374151 !important;
  color: white !important;
  border: none !important;
  border-radius: 20px 20px 0 0 !important;
  background-color: inherit; /* 기본 배경색 유지 */
  color: inherit; /* 기본 텍스트 색상 유지 */
}

.ck.ck-button:hover,
.ck.ck-button.ck-on {
  color: #29313d !important;
}

.ck-button:hover {
  background-color: transparent !important;
  color: inherit !important;
}

.ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_se.ck-dropdown__panel-visible
  ul
  li
  span {
  color: black !important;
}

/* 코드블록 언어 선택 메뉴의 클래스 이름을 확인하여 적용 */
.ck-dropdown__panel {
  color: black !important; /* 글자색 변경 */
}

/* 선택 가능한 항목에 대한 스타일 변경 */
.ck-dropdown__panel .ck-button {
  color: black !important; /* 글자색 변경 */
}

#ck-editor__aria-label_ {
  color: black !important;
}
