.modal {
  width: 600px;
  height: 550px;
  padding-top: 40px;
  background: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 30px;
  z-index: 3;
  position: fixed;
  bottom: 45%;
  left: 47.5%;
  transform: translate(-50%, 50%);
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.modal-header,
.modal-body {
  width: 600px;
}

.modal-body {
  height: 350px;
  margin-top: 35px;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

input[name='postTitle'] {
  width: 450px;
  height: 35px;
  background: #374151;
  padding: 5px 15px 5px 10px;
  color: #eee;
}

input[name='postTitle']::placeholder {
  color: #eee;
}

.modal-body {
  display: flex;
  justify-content: space-around;
}

textarea {
  resize: none;
  outline: none;
  width: 450px;
  height: 345px;
  border: none;
  border-radius: 20px;
  background: #374151;
  padding: 10px;
  color: #eee;
}

textarea::placeholder {
  color: #eee;
}

.modal-footer {
  width: 600px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0 200px;
}

.upload-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.publish-button {
  width: 120px;
  height: 35px;
  background: #8d8acf;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0);
  border: none;
}


.contents{
  background-color: rgba(0,0,0,30%);
  height: 936px;
  border-radius: 20px;
}

.post-wrapper{
  width: 80%;

}

.post-title{
  background-color: #374151;
  margin-top: 29px;
  border-radius: 10px;
}

.post-header{
  background-color: #374151;
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.post-header div {
  align-self: center;
}

.post-created-at{
  flex: 1;
}

.post-hit-icon {
  padding-left: 60px;
  padding-top: 7px;
}

.post-hit{
  margin-right: 30px;
}

.post-content{
  margin-top: 10px;
  width: 710px;
  height: 330px;
  background-color: #374151;
  overflow-y: scroll;
}

.button-box{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.modify-button, .delete-button, .back-button, .comment-button{
  width: 105px;
  height: 27px;
  border-radius: 20px;
  border: none;
  color: white;
}

.modify-button, .comment-button{
  background-color: #8D8ACF;
}

.delete-button{
  margin-left: 24px;
  margin-right: 100px;
  background-color: #FF6D6D;
}

.back-button{
  background-color: #8AB3CF;
}

.comment-button{
  margin-left: 24px;
}


.like-button{
  background-color: rgba(0,0,0,0);
  border: none;
  margin-left: 35px;
  padding-top: 5px;
}

.like-count{
  margin-left: 24px;
  color: white;
}

/*comment*/
.comment-wrapper{
  width: 80%;
}

.comment-input{
  width: 100%;
  height: 45px;
}

.comment-submit{
  position: relative;
  top: -35px;
  left: 630px;
  width: 40px;
  height: 25px;
}